{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards_category.css' %}">
{% endblock extra_css %}

{% for com in community %}

    <div class="col s12 m10 offset-m1">
        <div class="card horizontal category-card unified-card" onclick="window.location='{{ com.get_absolute_url }}';" style="cursor: pointer; max-height: 10rem;">
            
            {% if com.icon %}
                <div class="card-cat" >
                    <img class="comm-card-avatar" src="{{ com.icon.url }}" alt="{{ com.title }}" onerror="this.onerror=null; this.src='{% static 'image.png' %}'; this.style.objectFit='contain';">
                </div>
            {% else %}
                {% comment %} <div class="card-image category-bg-placeholder"> {% endcomment %}
                <div class="card-cat">
                    <img class="comm-card-avatar" src="{% static 'assets/catto.png' %}" alt="{{ com.title }}" onerror="this.onerror=null; this.src='{% static 'image.png' %}'; this.style.objectFit='contain';">
                </div>
            {% endif %}
            
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ com.title }}</span>
                    <p class="grey-text category-description">{{ com.description }}</p>

                </div>
                <div class="card-action grey-text text-darken-1 category-meta">
                    <span><i class="material-icons meta-chip">group</i>{{ com.subscribers_count }}</span>
                    <span><i class="material-icons meta-chip">forum</i>{{ com.topics_count }}</span>
            </div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
    
{% empty %}
    <div class="col s12 m10 offset-m1">
        <div class="card-panel center-align grey lighten-4">    
            <p class="grey-text">Пока нет сообществ для обсуждения</p>
        </div>
    </div>
{% endfor %}