<div class="card flat hoverable comment-card unified-card" id="post-{{ post.pk }}">
    <div class="card-content">
        {% if request.user == post.author %}
            {% include "forum/partials/_dropdown_menu.html" with target_id=post.dom_id delete_url=post.get_delete_url %}
        {% endif %}

        <div class="comment-header">
            <span class="card-title blue-text text-darken-2 comment-author">
                {{ post.author.username }}
            </span>
            <span class="grey-text post-date">
                {{ post.created_at|date:"d M Y H:i" }}
            </span>
        </div>

        {% if post.parent_id %}
            <blockquote class="grey lighten-4 comment-quote">
                <a href="#post-{{ post.parent_id }}" class="grey-text text-darken-1 comment-quote-link">
                    <i class="material-icons tiny action-btn-icon">reply</i> Ответ пользователю {{ post.parent.author.username }}
                </a>
            </blockquote>
        {% endif %}

        <div class="post-text" style="margin-bottom: var(--spacing-md);">
            {{ post.content|linebreaks }}
        </div>

        {% if post.images.all %}
            {% if post.images.all.count == 1 %}
                <div class="center-align">
                    <img class="responsive-img materialboxed comment-single-image" 
                         src="{{ post.images.first.image.url }}" 
                         alt="Вложение пользователя">
                </div>
            {% else %}
                {% include "forum/partials/carousel_posts.html" %}
            {% endif %}
        {% endif %}
        
        <div class="card-action position-relative-action">
            {% if not topic.is_closed %}
                <div class="reply-container">
                    {% include "forum/partials/_replay.html" with post=post topic=topic %}
                </div>
            {% endif %}
            
            <div class="like-container-absolute">
                {% include "forum/partials/_like_button.html" with post=post %}
            </div>
        </div>
    </div>
</div>