<div class="comment-thread">
    
    {% if is_main_post %}
        {% include "forum/partials/_card_post.html" with post=node %}
    {% else %}
        {% include "forum/partials/_card_comment.html" with post=node %}
    {% endif %}

    {% if node.children %}
        <div class="replies-container">
            {% for child in node.children %}
                {% include "forum/partials/_thread_node.html" with node=child is_main_post=False %}
            {% endfor %}
        </div>
    {% endif %}

</div>