<div class="card backgroung-card-forum">
    <div class="card-content">
        <span class="card-title black-text text-darken-2" style="font-size: 1.1rem; font-weight: bold;">Правила сообщества</span>
        <ul class="black-text text-darken-2" style="margin-top: 10px; padding-left: 1rem;">
            <li style="margin-bottom: 8px; list-style-type: decimal;">Уважайте других участников</li>
            <li style="margin-bottom: 8px; list-style-type: decimal;">Никакого спама</li>
            <li style="margin-bottom: 8px; list-style-type: decimal;">Придерживайтесь тематики</li>
        </ul>
    </div>
</div>