{% extends "_layout.html" %}
{% load static %}
{% block title %}{{ topic.title }} - {{ topic.community.title }}{% endblock title %}
{% block content %}

<!-- Я разделю все на секции что б понять что тут-->
<div class="row">
    <div class="col s12 m12 ">
        <!-- Секция с заголовком топика и метаинформацией -->
        <div class="topic-header section">
            <h4>{{ topic.title }}</h4>
            {% if topic.is_pinned %}
                <div class="chip orange white-text">
                    <i class="material-icons left">push_pin</i> Закреплено
                </div>
            {% endif %}
            <div class="meta-chip">
                <i class="material-icons">visibility</i>
                <span>{{ topic.views_count }}</span>
            </div>
            {% if topic.is_closed %}
                <div class="chip red white-text">
                    <i class="material-icons left">lock</i> Закрыто
                </div>
            {% endif %}
        </div>

        <!-- Секция с сообщениями -->
        
        <div class="posts-collection">
            
            {% for root_post in nested_posts %}
            <!-- Первый пост в теме - это корневой пост, остальные - ответы на него или на другие ответы -->
                {% if forloop.first %}
                    {% include "forum/partials/_thread_node.html" with node=root_post is_main_post=True %}
                {% else %}
                    {% include "forum/partials/_thread_node.html" with node=root_post is_main_post=False %}
                {% endif %}
            {% empty %}
                <div class="card-panel center-align grey lighten-4">
                    <p class="grey-text">В данном топике пока нет сообщений.</p>
                </div>
            {% endfor %}
        </div>

        {% include "_pagination.html" with pagination_class="post-pagination" %}
    </div>

    {% comment %} <div class="col s12 m4">
        </div> {% endcomment %}
</div>

{% endblock content %}

{% block extra_js %}
{{ block.super }}
<script src="{% static  'js/carousel_post.js' %}"></script>
{% endblock extra_js %}
