{% extends "_layout.html" %}
{% load static %}

{% block title %}{% if object %}Редактировать сообщество{% else %}Добавить сообщество{% endif %}{% endblock %}

{% block content %}
<div class="row" style="margin-top: 4rem;">
    <h4 class="center-align">
        {% if object %}Редактирование: {{ object.title }}{% else %}Добавление нового сообщества{% endif %}
    </h4>
    
    <form class="col s12 m8 offset-m2" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        
        <div class="row">
            {% include "_inputs.html" with field=form.title grid_class="col s12" %}
            {% include "_inputs.html" with field=form.description grid_class="col s12" %}
        </div>
            
        <div class="row">
            <div class="file-field input-field col s12" style="margin-top: 1rem; margin-bottom: 2rem;">
                <div class="btn blue darken-2">
                    <span>Иконка</span>
                    {{ form.icon }}
                </div>
                <div class="file-path-wrapper">
                    {{ form.icon.value|default_if_none:"" }}
                </div>
                {% if form.icon.errors %}
                    <span class="helper-text red-text" style="display: block; margin-top: 8px;">{{ form.icon.errors.0 }}</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">
                    {% if object %}Сохранить изменения{% else %}Добавить сообщество{% endif %}
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/field_init.js' %}"></script>
{% endblock extra_js %}