{% extends "_layout.html" %}
{% load static %}

{% block title %}Форум имени Императора{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        {% include "partial_index/_communities_index.html" %}
    </div>

    <div class="row">
        {% include "partial_index/_topic_index.html" %}
        {% include "partial_index/_sidebar_index_create_topic.html" %}
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}