{% extends "_layout.html" %}
{% load static %}
{% block title %}Регистрация{% endblock title %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card unified-card">
            <div class="card-content">
                <span class="card-title center-align">Регистрация</span>
                
                <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}                  
                    <div class="row">
                        {% for field in form %}
                            {% if field.name != 'avatar' %}                
                                {% include "_inputs.html" with field=field grid_class="col s12" %}
                            {% else %}
                                {% include "_image_form.html" with field=field grid_class="col s12" custom_label="Аватар" custom_placeholder="Выберите файл изображения для аватара" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s12 center-align" style="margin-top: 15px;">
                            <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">
                                Зарегистрироваться
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/image_preview_new.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setupImagePreview('id_avatar', '.field-avatar_preview');

    });
</script>
{% endblock extra_js %}