{% extends "_layout.html" %}
{% load static %}

{% block title %}Профиль пользователя{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="valign-wrapper" style="min-height: 80vh;">
    <div class="row" style="width: 100%;">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card unified-card-no-recolor">
            
            <div class="center-align padding_top_30">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar_circle">
                {% else %}
                    <img src="{% static 'assets/default_avatar.png' %}" alt="Default Avatar" class="avatar_circle">
                {% endif %}
            </div>

            <div class="card-content center-align">
                <span class="card-title bold_title">{{ user.username }}</span>
                <p class="grey-text">{{ user.email }}</p>
                
                <div class="top_margin_15">
                    {% if user.is_active %}
                        <span class="new badge green badge_user_status" data-badge-caption="Активен"></span>
                    {% else %}
                        <span class="new badge red badge_user_status" data-badge-caption="Неактивен"></span>
                    {% endif %}
                </div>
            </div>

            <div class="divider"></div>

            <div class="card-content">
                <ul class="collection collection_no_border">
                    {% if user.first_name or user.last_name %}
                    <li class="collection-item collection_item_no_padding">
                        <b>Имя:</b> {{ user.first_name }} {{ user.last_name }}
                    </li>
                    {% endif %}
                    
                    {% if user.birthday %}
                    <li class="collection-item collection_item_no_padding">
                        <b>Дата рождения:</b> {{ user.birthday|date:"d.m.Y" }}
                    </li>
                        {% if user.birthday|date:"m-d" == today|date:"m-d" %}
                        <li class="collection-item collection_item_no_padding">
                            <i class="material-icons">cake</i> Сегодня день рождения!
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="card-action center-align">
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="red-text text-darken-2 margin_right_20">
                        <i class="material-icons left">admin_panel_settings</i>
                    </a>
                {% endif %}

                {% if request.user == user %}
                    <a href="{% url 'edit_profile' %}" class="blue-text text-darken-2">
                        <i class="material-icons left">edit</i>
                    </a>
                    <a href="{% url 'password_change' %}" class="blue-text text-darken-2">
                        <i class="material-icons left">lock</i>
                    </a>
                {% endif %}
            </div>

            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width" style="background-color: transparent;">
                    <li class="tab"><a href="#tab-community">Сообщества</a></li>
                    <li class="tab"><a class="active" href="#tab-posts">Посты</a></li>
                </ul>
            </div>

            <div class="card-content">                  
                
                <div id="tab-community">
                    <h5 class="bold_title">Сообщества пользователя:</h5>
                    <ul class="collection">
                        {% for community in user.subscibed_comunities.all %}
                            <li class="collection-item">
                                <a href="{{ community.get_absolute_url }}">
                                    {{ community.title }}
                                </a>
                            </li>
                        {% empty %}
                            <li class="collection-item">Пользователь не состоит ни в одном сообществе.</li>
                        {% endfor %}
                    </ul>
                </div>
         
                <div id="tab-posts">
                    <h5 class="bold_title">Посты пользователя:</h5>
                    <ul class="collection">
                        {% for post in user.posts.all %}
                            <li class="collection-item">
                                <span class="title">
                                    <a href="{{ post.topic.get_absolute_url }}#{{ post.dom_id }}" class="blue-text text-darken-2">
                                        Поднятая тема: {{ post.topic.title }}
                                    </a>
                                </span>
                            </li>
                        {% empty %}
                            <li class="collection-item">У пользователя пока нет постов.</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}

<script src = "{% static 'js/tabs.js' %}"></script>

{% endblock extra_js %}