<div class="col s12">
    <h5 class="grey-text text-darken-2 forum-category-heading">Категории</h5>
    
    {% if categories %}
        <div class="carousel" id="forum-carousel">
            {% for cat in categories %}
                <div class="carousel-item card hoverable white black-text">
                    <div class="category-card-inner">
                        <div class="category-icon-wrapper">
                            {% if cat.icon %}
                                <img src="{{ cat.icon.url }}" alt="{{ cat.title }}">
                            {% else %}
                                <i class="material-icons large grey-text text-lighten-1">folder</i>
                            {% endif %}
                        </div>
                        <span class="card-title category-card-title">{{ cat.title }}</span>
                        <p class="grey-text text-darken-1 category-card-desc">
                            {{ cat.description|truncatechars:60 }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center-align grey-text" style="margin-top: 2rem;">Категории отсутствуют</p>
    {% endif %}
</div>