{% load static %}

<div class="col s12">
    <h5 class="grey-text text-darken-2 forum-category-heading">Категории</h5>
    
    {% if categories %}
        <div class="carousel" id="forum-carousel">
            {% for cat in categories %}
                <div class="carousel-item card hoverable">

                       {% if cat.icon %}
                                <img src="{{ cat.icon.url }}" alt="{{ cat.title }}" onerror="this.onerror=null; this.src='{% static 'image.png' %}'; this.style.objectFit='contain';">
                            {% else %}
                                <div class="category-bg-placeholder">
                                    <i class="material-icons large">folder</i>                        
                        </div>
                        {% endif %}
                        <div class = "category-card-content">
                            <span class="card-title">
                            {{ cat.title }}
                            </span>
                            <p class="category-desc">
                            {{ cat.description|truncatechars:60 }}
                            </p>
                        </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center-align grey-text" style="margin-top: 2rem;">Категории отсутствуют</p>
    {% endif %}
</div>