{% load static %}

<div class="col s12">
    <h5 class="forum-category-heading">Сообщества</h5>
    
    {% if community %}
        <div class="carousel" id="forum-carousel" style="user-select: none;">
            {% for com in community %}
                <div class="carousel-item card hoverable" data-url="{{ com.get_absolute_url }}">
                       {% if com.icon %}
                                <img src="{{ com.icon.url }}" alt="{{ com.title }}" onerror="this.onerror=null; this.src='{% static 'image.png' %}'; this.style.objectFit='contain';">
                            {% else %}
                                <div class="category-bg-placeholder">
                                    <i class="material-icons large">folder</i>                        
                        </div>
                        {% endif %}
                        <div class = "category-card-content">
                            <span class="card-title">
                            {{ com.title }}
                            </span>
                            <p class="category-desc">
                            {{ com.description|truncatechars:60 }}
                            </p>
                        </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center-align grey-text" style="margin-top: 2rem;">Сообщества отсутствуют</p>
    {% endif %}
</div>