/* Стили заголовков и категорий */
.forum-category-heading {
    margin-top: 20px;
}

.category-card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.category-card-desc {
    font-size: 0.9rem;
}
